*
!HAT-spec.md
!hat-list.md
!rhythm-library.md
!src/
!src/editor.html
!src/css/
!src/css/*.css
!src/js/
!src/js/*.js
!src/settings-schema.json
!LICENSE
!README.md
!extensions/
!extensions/*.md
!index.html
!tests/
!tests/run.js
!tests/parsing/
!tests/parsing/valid/
!tests/parsing/valid/*.hat.txt
!tests/parsing/invalid/
!tests/parsing/invalid/*.hat.txt
!tests/extensions/
!tests/extensions/*/
!tests/extensions/*/*.hat.txt
!tests/extensions/*/*.json
!rhythms/
!rhythms/index.json
!rhythms/bundle.js
!rhythms/*/
!rhythms/*/*.hat.txt
!scripts/
!scripts/*.mjs
